<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List Teachers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>List Teachers</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-houver">
                <thead></thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Remuneration</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <thead>
                    <tr th:each="teacher : ${teachers}">
                        <th class="col-1" scope="row" th:text="${teacher.getId()}">Id</th>
                        <th class="col-4" scope="row" th:text="${teacher.name}">Name</th>
                        <th class="col-1" scope="row" th:text="${teacher.remuneration}">Remu</th>
                        <th class="col-1" scope="row" th:text="${teacher.StatusTeacher.toString()}">Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <a href="/teachers/new">New Teacher</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>